SENDGRID_API_KEY_STATIC_CONTACT_VALIDATION= Add your sendgrid API key to send emails. It can found at app.sendgrid.com
SECRET_STATIC_CONTACT_VALIDATION= This can be anything
REDIRECT_URL_STATIC_CONTACT_VALIDATION= URL to redirect after token is authenticated
EMAIL_RECEIVER_STATIC_CONTACT_VALIDATION= Name of person who is receiving email i.e you yourself , Ex:- Kautilya_Tripathi
RECEIVER_EMAIL_STATIC_CONTACT_VALIDATION= Your email address
HOSTED_URL_STATIC_CONTACT_VALIDATION= Your site hosted URL # do not put / at the end of URL
PORT_STATIC_CONTACT_VALIDATION= 3000 # default is 3000 or anything you want
